{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block head_data %}
    <title>{{ content.title }} - TypeWriter</title>
    <link rel="stylesheet" href="{% static 'css/prism-solar.css' %}">
    <script type="text/javascript" src="{% static 'js/prism-solar.js' %}"></script>

    <!-- META tags -->
    <meta name="description" content="{{ content.summary }}">
    <meta property="og:locale" content="{{ general.cur_lang_short_name }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ content.creation_date.isoformat }}">
    {% if content.last_edit_date %}
        <meta property="article:modified_time" content="{{ content.last_edit_date.isoformat }}">
    {% endif %}
    <meta property="article:author" content="{% url 'show_user_page' author.username %}">
    {% if tags and tags|length > 0 and tags.0 != '' %}
        {% for tag in tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}
    <meta property="og:title" content="{{ content.title }}">
    <meta property="og:description" content="{{ content.summary }}">
    <meta property="og:site_name" content="{{ general.blog_title }}">
    <!-- {% for category in entry.categories.all %}
        <meta property="article:section" content="{{ category.id|get_category_name:general.cur_lang_short_name }}"/>
    {% endfor %} -->
    {% if content.header_image %}
        <meta property="og:image"
              content="{{ content.header_image.file.url }}"/>
        <meta property="og:image:secure_url"
              content="{{ content.header_image.file.url }}"/>
        <!--  <meta property="og:image:width" content="1500"/>
          <meta property="og:image:height" content="788"/> -->
        <meta name="twitter:image" content="{{ content.header_image.file.url }}">
    {% endif %}
    <meta name="twitter:card" content="{{ content.summary }}">
    <meta name="twitter:title" content="{{ content.title }}">
    <meta name="twitter:description" content="{{ content.summary }}">
{% endblock %}

{% block content %}
    <main>
        <article>
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="col-10 offset-1 horizontal-divider top-line"></div>
                    <h2 class="bold article-title">{{ content.title }}</h2>
                    {% if content.header_image %}
                        <div class="col-10 offset-1 article-image">
                            <img src="{{ content.header_image.file.url }}" class="img-fluid"
                                 alt="{% trans 'Header image' %}">
                        </div>
                    {% endif %}
                    <p class="bold col-12 article-summary">{{ content.summary }}</p>
                    <div class="horizontal-divider-dotted col-8 offset-2" style="margin-bottom: 5px;"></div>
                    <p class="text-center h6">{% trans 'written on' %} {{ content.creation_date.date }}
                        {% trans 'at' %} {{ content.creation_date.time }}<br>
                        {% if content.last_edit_date %}
                            {% trans 'last edited on' %} {{ content.last_edit_date.date }}
                            {% trans 'at' %} {{ content.last_edit_date.time }}<br>
                        {% endif %}
                        {% trans 'by' %} {{ author.first_name }} {{ author.last_name }}<br>
                        {% if content.entry.categories.all|length == 1 %}
                            {% trans 'in category' %}
                            {{ content.entry.categories.all.0.id|get_category_name:general.cur_lang_short_name }}
                        {% else %}
                            {% trans 'in categories' %}
                            {% for category in content.entry.categories.all %}
                                {% if forloop.last %}
                                    & {{ category.id|get_category_name:general.cur_lang_short_name }}
                                {% elif forloop.counter >= content.entry.categories.all|length|add:'-1' %}
                                    {{ category.id|get_category_name:general.cur_lang_short_name }}
                                {% else %}
                                    {{ category.id|get_category_name:general.cur_lang_short_name }},
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <div class="horizontal-divider-dotted col-8 offset-2 top-line"></div>
                    {{ content.text | safe }}


                    {% if comments_allowed == 1 %}
                        <div class="col-10 offset-1 horizontal-divider top-line"></div>
                        <h2 class="bold text-center">{% trans 'Comments' %}</h2>
                        <div id="new-comment-section">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="bold">{% trans 'Write a new comment' %}</h4>
                                </div>
                                <form class="col-12" id="new-comment-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="content_id" value="{{ content.id }}">
                                    {% if user.is_authenticated == 0 %}
                                        <div class="form-group">
                                            <label for="new_authorname_id">{% trans 'Your name:' %}</label>
                                            <input type="text" name="author_name" maxlength="80" class="form-control"
                                                   id="new_authorname_id"
                                                   placeholder="{% trans 'May I ask, what is your name?' %}" required>
                                            <small id="new_authorname_help"
                                                   class="form-text text-muted">{% trans 'This name will be displayed publicly' %}</small>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="new_comment_text_id">{% trans 'Your comment:' %}</label>
                                        <textarea name="text" id="new_comment_text_id" class="form-control" rows="5"
                                                  placeholder="{% trans 'May I ask for your opinion?' %}"
                                                  required></textarea>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" required class=" custom-control-input"
                                               id="new_comment_ckb_id">
                                        <label class="custom-control-label"
                                               for="new_comment_ckb_id">{% trans 'I agree that <u>only my name and comment text</u> will be saved on this server and can be made publicly available for everyone to read.' %}
                                        </label>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="button"
                                                class="comment-submit btn btn-outline-dark bold">{% trans 'Submit' %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="comment-section">
                            {% for comment in comments_same_lang %}
                                {% if forloop.counter0 != 0 %}
                                    <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>
                                {% endif %}
                                <div class="comment" id="comment-id-{{ comment.id }}">
                                    {% if user == content.entry.author %}
                                        <a href="#!">
                                            <button type="button"
                                                    class="comment-delete-btn btn-outline-danger btn read-more-button"
                                                    value="{{ comment.id }}">
                                                {% trans 'Delete' %}
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% if comment.author_user_id %}
                                        <div class="row">
                                            {% if comment.author_user.profile_picture %}
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                    <img src="{{ comment.author_user.profile_picture.url }}"
                                                         class="profile-picture mx-auto"
                                                         height="40"
                                                         alt="@{{ comment.author_user.username }}'s profile picture">
                                                </div>
                                            {% else %}
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                    <img src="{% static 'img/default_profile_pic.svg' %}"
                                                         class="profile-picture mx-auto"
                                                         height="40" alt="Default profile picture">
                                                </div>
                                            {% endif %}
                                            <div class="row col-sm-9 col-md-10 col-lg-10 col-10 comment-name-at-profile-picture">
                                                <div class="col-12 text-left bold">
                                                    {{ comment.author_user.first_name }} {{ comment.author_user.last_name }}
                                                </div>
                                                <div class="col-12 text-left text-secondary h6">
                                                    {{ comment.publish_date }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-lg-6 col-md-12 text-left bold">
                                            {{ comment.author_name }}
                                        </div>
                                        <div class="col-lg-6 col-md-12 text-left text-secondary h6">
                                            {{ comment.publish_date }}
                                        </div>
                                    {% endif %}
                                    <div class="col-12">
                                        {{ comment.text }}
                                    </div>
                                    <div class="col-2 offset-7 col-md-2 offset-md-9">
                                        <a href="#!" class="comment-reply-button">
                                            <button type="button" id="comment-reply-button-{{ comment.id }}"
                                                    class="btn-outline-dark btn read-more-button"
                                                    style="display: block;">
                                                {% trans 'Reply' %}
                                            </button>
                                            <img src="{% static 'img/close_icon.svg' %}"
                                                 id="comment-reply-close-{{ comment.id }}" height="35"
                                                 style="display: none;" alt="Close icon">
                                        </a>
                                    </div>
                                    <div class="offset-1">
                                        <form class="col-12" id="answer-comment-form-{{ comment.id }}"
                                              style="display: none;">
                                            {% csrf_token %}
                                            <input type="hidden" name="answer_to" class="hidden-answer-id"
                                                   value="{{ comment.id }}">
                                            <input type="hidden" name="content_id" value="{{ content.id }}">
                                            {% if user.is_authenticated == 0 %}
                                                <div class="form-group">
                                                    <label for="answer_authorname_id_{{ comment.id }}">Your
                                                        name:</label>
                                                    <input type="text" name="author_name" maxlength="80"
                                                           class="form-control"
                                                           id="answer_authorname_id_{{ comment.id }}"
                                                           placeholder="May I ask, what is your name?" required>
                                                    <small id="new_authorname_help" class="form-text text-muted">This
                                                        name will
                                                        be
                                                        displayed
                                                        publicly</small>
                                                </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="answer_comment_text_id_{{ comment.id }}">Your
                                                    answer:</label>
                                                <textarea name="text" id="answer_comment_text_id_{{ comment.id }}"
                                                          class="form-control"
                                                          rows="5"
                                                          placeholder="May I ask for your opinion?" required></textarea>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" required class=" custom-control-input"
                                                       id="answer_comment_ckb_id_{{ comment.id }}">
                                                <label class="custom-control-label"
                                                       for="answer_comment_ckb_id_{{ comment.id }}">I agree
                                                    that <u>only
                                                        my
                                                        name and comment text</u> will be saved on this server and can
                                                    be made
                                                    publicly
                                                    available for everyone to read.</label>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button type="button" class="comment-submit btn btn-outline-dark bold">
                                                    Answer
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="offset-1" id="comment-answer-list-id-{{ comment.id }}">
                                        {% for comment_answer1 in comment.answers.all %}
                                            {% if forloop.counter0 != 0 %}
                                                <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>
                                            {% endif %}
                                            <div class="comment" id="comment-id-{{ comment_answer1.id }}">
                                                {% if user == content.entry.author %}
                                                    <a href="#!">
                                                        <button type="button"
                                                                class="comment-delete-btn btn-outline-danger btn read-more-button"
                                                                value="{{ comment_answer1.id }}">
                                                            {% trans 'Delete' %}
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                {% if comment_answer1.author_user_id %}
                                                    <div class="row">
                                                        {% if comment_answer1.author_user.profile_picture %}
                                                            <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                                <img src="{{ comment_answer1.author_user.profile_picture.url }}"
                                                                     class="profile-picture mx-auto"
                                                                     height="40"
                                                                     alt="@{{ comment.author_user.username }}'s profile picture">
                                                            </div>
                                                        {% else %}
                                                            <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                                <img src="{% static 'img/default_profile_pic.svg' %}"
                                                                     class="profile-picture mx-auto"
                                                                     height="40" alt="Default profile picture">
                                                            </div>
                                                        {% endif %}
                                                        <div class="row col-sm-9 col-md-10 col-lg-10 col-10 comment-name-at-profile-picture">
                                                            <div class="col-12 text-left bold">
                                                                {{ comment_answer1.author_user.first_name }} {{ comment_answer1.author_user.last_name }}
                                                            </div>
                                                            <div class="col-12 text-left text-secondary h6">
                                                                {{ comment_answer1.publish_date }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col-lg-6 col-md-12 text-left bold">
                                                        {{ comment_answer1.author_name }}
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 text-left text-secondary h6">
                                                        {{ comment_answer1.publish_date }}
                                                    </div>
                                                {% endif %}
                                                <div class="col-12">
                                                    {{ comment_answer1.text }}
                                                </div>
                                                <!--<div class="col-2 offset-7 col-md-2 offset-md-9">
                                                    <a href="#">
                                                        <button type="button"
                                                                class="btn-outline-dark btn read-more-button">
                                                            Reply
                                                        </button>
                                                    </a>
                                                </div> -->
                                            </div>

                                        {% endfor %}
                                    </div>

                                </div>

                            {% endfor %}

                            {% if comments_different_lang and comments_same_lang %}
                                <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>
                            {% endif %}

                            {% for comment in comments_different_lang %}
                                {% if forloop.counter0 != 0 %}
                                    <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>
                                {% endif %}
                                <div class="comment">
                                    {% if user == content.entry.author %}
                                        <a href="#!">
                                            <button type="button"
                                                    class="comment-delete-btn btn-outline-danger btn read-more-button"
                                                    value="{{ comment.id }}">
                                                {% trans 'Delete' %}
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% if comment.author_user_id %}
                                        <div class="row">
                                            {% if comment.author_user_id %}
                                                {% if comment.author_user.profile_picture %}
                                                    <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                        <img src="{{ comment.author_user.profile_picture.url }}"
                                                             class="profile-picture mx-auto"
                                                             height="40"
                                                             alt="@{{ comment.author_user.username }}'s profile picture">
                                                    </div>
                                                {% else %}
                                                    <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                        <img src="{% static 'img/default_profile_pic.svg' %}"
                                                             class="profile-picture mx-auto"
                                                             height="40" alt="Default profile picture">
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="row col-sm-9 col-md-10 col-lg-10 col-10 comment-name-at-profile-picture">
                                                <div class="col-12 text-left bold">
                                                    {{ comment.author_user.first_name }} {{ comment.author_user.last_name }}
                                                </div>
                                                <div class="col-12 text-left text-secondary h6">
                                                    {{ comment.publish_date }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-lg-6 col-md-12 text-left bold">
                                            {{ comment.author_name }}
                                        </div>
                                        <div class="col-lg-6 col-md-12 text-left text-secondary h6">
                                            {{ comment.publish_date }}
                                        </div>
                                    {% endif %}
                                    <div class="col-12">
                                        {{ comment.text }}
                                    </div>
                                    <div class="col-2 offset-7 col-md-2 offset-md-9">
                                        <a href="#!" class="comment-reply-button">
                                            <button type="button" id="comment-reply-button-{{ comment.id }}"
                                                    class="btn-outline-dark btn read-more-button"
                                                    style="display: block;">
                                                {% trans 'Reply' %}
                                            </button>
                                            <img src="{% static 'img/close_icon.svg' %}"
                                                 id="comment-reply-close-{{ comment.id }}" height="35"
                                                 style="display: none;" alt="Close icon">
                                        </a>
                                    </div>
                                    <div class="offset-1" id="comment-answer-list-id-{{ comment.id }}">
                                        {% for comment_answer1 in comment.answers.all %}
                                            {% if forloop.counter0 != 0 %}
                                                <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>

                                            {% endif %}
                                            <div class="comment" id="comment-id-{{ comment_answer1.id }}">
                                                {% if user == content.entry.author %}
                                                    <a href="#!">
                                                        <button type="button"
                                                                class="comment-delete-btn btn-outline-danger btn read-more-button"
                                                                value="{{ comment_answer1.id }}">
                                                            {% trans 'Delete' %}
                                                        </button>
                                                    </a>
                                                {% endif %}
                                                {% if comment_answer1.author_user_id %}
                                                    <div class="row">
                                                        {% if comment_answer1.author_user.profile_picture %}
                                                            <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                                <img src="{{ comment_answer1.author_user.profile_picture.url }}"
                                                                     class="profile-picture mx-auto"
                                                                     height="40"
                                                                     alt="@{{ comment.author_user.username }}'s profile picture">
                                                            </div>
                                                        {% else %}
                                                            <div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture">
                                                                <img src="{% static 'img/default_profile_pic.svg' %}"
                                                                     class="profile-picture mx-auto"
                                                                     height="40" alt="Default profile picture">
                                                            </div>
                                                        {% endif %}
                                                        <div class="row col-sm-9 col-md-10 col-lg-10 col-10 comment-name-at-profile-picture">
                                                            <div class="col-12 text-left bold">
                                                                {{ comment_answer1.author_user.first_name }} {{ comment_answer1.author_user.last_name }}
                                                            </div>
                                                            <div class="col-12 text-left text-secondary h6">
                                                                {{ comment_answer1.publish_date }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col-lg-6 col-md-12 text-left bold">
                                                        {{ comment_answer1.author_name }}
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 text-left text-secondary h6">
                                                        {{ comment_answer1.publish_date }}
                                                    </div>
                                                {% endif %}
                                                <div class="col-12">
                                                    {{ comment_answer1.text }}
                                                </div>
                                                <!--<div class="col-2 offset-7 col-md-2 offset-md-9">
                                                    <a href="#">
                                                        <button type="button"
                                                                class="btn-outline-dark btn read-more-button">
                                                            Reply
                                                        </button>
                                                    </a>
                                                </div> -->
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if comments_different_lang or comments_same_lang %}
                                <div class="col-8 offset-2 horizontal-divider-dotted spacing-line"></div>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                <aside class="col-lg-4 col-md-12">
                    <div class="author-information-aside">
                        <div class="row">
                            <div class="col-10 offset-1 horizontal-divider top-line"></div>
                            <div class="col-lg-12 text-center bold h5" style="margin-bottom: 10px;">
                                {% trans 'About the author:' %}
                            </div>
                            {% if author.profile_picture %}
                                <div class="col-12 text-center" style="margin-bottom: 10px;">
                                    <img src="{{ author.profile_picture.url }}" class="profile-picture mx-auto"
                                         height="100" alt="@{{ author.username }}'s profile picture">
                                </div>
                            {% else %}
                                <div class="col-12 text-center" style="margin-bottom: 10px;">
                                    <img src="{% static 'img/default_profile_pic.svg' %}"
                                         class="profile-picture mx-auto"
                                         height="100" alt="Default profile picture">
                                </div>
                            {% endif %}
                            <div class="col-lg-12 text-center bold">
                                {{ author.first_name }} {{ author.last_name }}
                            </div>
                            <div class="col-lg-12 text-center">
                                {{ author_desc.text | safe }}
                            </div>
                            <div class="col-lg-12 text-center">
                                <a href="{% url 'show_user_page' author.username %}">
                                    <button type="button" class="btn-outline-dark btn read-more-button">
                                        {% trans 'More from this author' %}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="latest-posts-aside">

                        <div class="col-10 offset-1 horizontal-divider top-line"></div>
                        <div class="col-12 text-center bold h5">
                            {% trans 'Latest posts:' %}
                        </div>
                        {% for latest_post in latest_posts %}
                            {% if forloop.counter0 != 0 %}
                                <div class="col-8 offset-2 horizontal-divider-dotted"></div>
                            {% endif %}
                            <div class="article-preview-aside text-dark row">
                                {% if latest_post.header_image %}
                                    <div class="col-4 offset-1 text-center">
                                        <img src="{{ latest_post.header_image.file.url }}" class="img-fluid mx-auto"
                                             alt="Header image">
                                    </div>
                                    <div class="col-6 text-center bold">
                                        {{ latest_post.title }}
                                    </div>
                                {% else %}
                                    <div class="col-10 offset-1 text-center bold">
                                        {{ latest_post.title }}
                                    </div>
                                {% endif %}
                                <div class="col-12 text-center">
                                    <a href="{% url 'show_article' latest_post.entry_id %}">
                                        <button type="button" class="btn-outline-dark btn read-more-button">
                                            {% trans 'Read more' %}
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </article>
    </main>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            let uploads_path = "{{ general.uploads_path }}";
            let static_path = "{{ general.static_path }}";

            $(".comment-delete-btn").click(function () {
                let comment_id = this.value;
                $.ajax({
                    type: "DELETE",
                    url: "{% url 'comment_delete' '0' %}".replace('0', comment_id),
                    success: function () {
                        $("#comment-id-" + comment_id).slideToggle(1000);
                    }
                });
            });

            $(".comment-reply-button").click(function () {
                    let id = $(this).parent().parent().attr('id').replace('comment-id-', '');
                    $('#answer-comment-form-' + id).slideToggle(1000);
                    $("#comment-reply-button-" + id).slideToggle(1000);
                    $("#comment-reply-close-" + id).slideToggle(1000);
                }
            );

            $(".comment-submit").click(function () {
                let data, isAnswer, id;
                if ($(this).parent().parent().find("input").hasClass("hidden-answer-id")) {
                    id = $(this).parent().parent().find("input")[1].value; // [0] -> csrf_token; [1] -> id
                    data = $('#answer-comment-form-' + id).serialize();
                    isAnswer = true;
                } else {
                    data = $("#new-comment-form").serialize();
                    isAnswer = false;
                }
                if ((!isAnswer && $('#new_comment_ckb_id').is(':checked')) || (isAnswer && $('#answer_comment_ckb_id_' + id).is(':checked'))) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'post_comment' %}",
                        data: data,
                        success: function (data) {
                            let new_comment = data[0];

                            let appendString = '<div class="comment">';
                            if (new_comment.fields.author_user != null) {
                                let author = JSON.parse(new_comment.fields.author_user)[0];
                                let profile_pic_path;
                                if (author.fields.profile_picture != '') {
                                    profile_pic_path = uploads_path + author.fields.profile_picture;
                                } else {
                                    profile_pic_path = static_path + 'img/default_profile_pic.svg';
                                }
                                appendString += '<div class="row"><div class="col-sm-1 col-md-1 col-lg-1 col-2 text-center comment-profile-picture"><img src="' + profile_pic_path + '" class="profile-picture mx-auto" height="40"></div><div class="row col-sm-9 col-md-10 col-lg-10 col-10 comment-name-at-profile-picture">\n'
                                    +
                                    '                                                <div class="col-12 text-left bold">\n' +
                                    author.fields.first_name + ' ' + author.fields.last_name +
                                    '                                                </div>\n' +
                                    '                                                <div class="col-12 text-left text-secondary h6">\n'
                                    +
                                    new Date(new_comment.fields.publish_date).toString() +
                                    '                                                </div>\n' +
                                    '                                            </div>\n' +
                                    '                                        </div>\n';
                            } else {
                                {% if comment_manual_valuated == 1 %}
                                    appendString += '<div class="text-center text-danger">Comment needs to be verified by the author to be public!</div>';
                                {% endif %}
                                appendString += '<div class="col-lg-6 col-md-12 text-left bold">\n'
                                    +
                                    new_comment.fields.author_name +
                                    '                                        </div>\n' +
                                    '                                        <div class="col-lg-6 col-md-12 text-left text-secondary h6">\n'
                                    +
                                    new Date(new_comment.fields.publish_date).toString() +
                                    '                                        </div>\n';
                            }
                            appendString += '<div class="col-12">\n' +
                                new_comment.fields.text +
                                '                                    </div>\n';


                            let append_item = $(appendString).hide();
                            if (isAnswer) {
                                $('#answer-comment-form-' + id).trigger("reset");
                                $('#answer-comment-form-' + id).slideToggle(1000);
                                $("#comment-reply-button-" + id).slideToggle(1000);
                                $("#comment-reply-close-" + id).slideToggle(1000);
                                $('#comment-answer-list-id-' + id).prepend(append_item);
                            } else {
                                $('#new-comment-form').trigger("reset");
                                $("#comment-section").prepend(append_item);
                            }
                            append_item.show('slow');

                        }
                    });
                }
            });
        });
    </script>
{% endblock %}