{% extends 'base_style.html' %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bold">
            <a class="navbar-brand underline-on-hover" href="{% url 'home' %}">TypeWriter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link underline-on-hover" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-on-hover" href="{% url 'show_discover' %}">Discover</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle underline-on-hover" href="#" id="categoryDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                            {% for category in general.categories %}
                                <a class="dropdown-item underline-on-hover" href="#">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle underline-on-hover" href="#" id="languageDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Switch Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            {% for language in general.languages %}
                                <a class="dropdown-item underline-on-hover" href="{{ general.language_urls.pop }}">{{ language.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'show_discover' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="keywords">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><strong>Search</strong></button>
                </form>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="row">
                <div class="col-10 offset-1 horizontal-divider">
                    <!-- <hr class="horizontal-divider"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="text-dark bold underline-on-hover" href="{% url 'show_imprint' %}">Imprint</a> | <a class="text-dark bold underline-on-hover" href="{% url 'show_privacy_policy' %}">Privacy Policy</a><br>
                    powered by TypeWriter<br>
                    (c) 2019 Weidenauer
                </div>
            </div>
        </footer>
    </div>
{% endblock %}