{% extends 'base.html' %}

{% block head_data %}
    {% block extended_head_data %}
    {% endblock %}
    <!-- META tags -->
    <meta name="description" content="{{general.blog_description.text}}">
    <meta property="og:locale" content="{{ general.cur_lang_short_name }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ general.blog_description.text }}">
    <meta property="og:site_name" content="{{ general.blog_title }}">
    <meta name="twitter:card" content="{{ general.blog_description.text }}">
    <meta name="twitter:description" content="{{ general.blog_description.text }}">
{% endblock %}