{% extends 'base_with_default_meta.html' %}
{% load i18n %}
{% load static %}

{% block extended_head_data %}
    <title>{{ page_title }} - {{general.blog_title.text}}</title>
    <meta name="twitter:title" content="{{ page_title }} - {{ general.blog_title.text }}">
    <meta property="og:title" content="{{ page_title }}">
{% endblock %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="col-10 offset-1 horizontal-divider top-line"></div>
                {{ text | safe }}
            </div>
        </div>
    </main>
{% endblock %}