{% extends 'base_with_default_meta.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block extended_head_data %}
    <title>Home - {{ general.blog_title.text }}</title>
    <meta name="twitter:title" content="Home - {{ general.blog_title.text }}">
    <meta property="og:title" content="Home">
{% endblock %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="col-10 offset-1 horizontal-divider top-line"></div>
                <h2 class="bold">{{ general.blog_subtitle.text | safe}}</h2>
                <p class="bold">{{ general.blog_description.text | safe }}</p>
                <div class="horizontal-divider-dotted col-8 offset-2"></div>
                <h2 class="text-center bold post-preview-title">{% trans 'Latest posts' %}</h2>

                {% for latest_post in latest_posts %}
                    <a class="post-preview text-dark" href="{% url 'show_article' latest_post.entry_id %}">
                        {% if latest_post.header_image %}
                            <div class="row text-dark text-center text-md-left">
                                <div class="col-md-4 col-8 offset-2 offset-md-0">
                                    <img src="{{ latest_post.header_image.file.url }}" class="img-fluid"
                                         alt="Header image">
                                </div>
                                <div class="col-md-8 col-12">
                                    <h4 class="bold">{{ latest_post.title }}</h4>
                                    <p><span
                                            class="text-muted">{% trans 'by' %} {{ latest_post.entry.author.first_name }} {{ latest_post.entry.author.last_name }} {% trans 'on' %} {{ latest_post.creation_date.date }}<br></span>
                                        {{ latest_post.summary }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <h4 class="bold">{{ latest_post.title }}</h4>
                                <p><span
                                        class="text-muted">{% trans 'by' %} {{ latest_post.entry.author.first_name }} {{ latest_post.entry.author.last_name }} {% trans 'on' %} {{ latest_post.creation_date.date }}<br></span>
                                    {{ latest_post.summary }}</p>
                            </div>
                        {% endif %}
                        <div class="col-12 text-center">
                            <a href="{% url 'show_article' latest_post.entry_id %}">
                                <button type="button" class="btn-outline-dark btn read-more-button">Read
                                    more
                                </button>
                            </a>
                        </div>
                    </a>
                {% endfor %}

            </div>
            <aside class="col-lg-4 col-md-12">
                <div class="categories-aside">
                    <div class="row">
                        <div class="col-10 offset-1 horizontal-divider top-line"></div>
                        <div class="col-12 text-center">
                            <h2>{% trans 'Categories' %}:</h2>
                        </div>
                        <div class="col-10 offset-1 col-lg-10 offset-lg-1 text-center">
                            <ul class="list-group list-group-flush" style="background-color: #EFEFEF;">
                                {% for category in general.categories %}
                                    <li class="list-group-item bold d-flex justify-content-between align-items-center"
                                        style="background-color: #fbead6;">
                                        <a class="text-dark underline-on-hover"
                                           href="{% url 'show_discover' %}?keywords=&title_or_text=title&languages={{ general.cur_lang.id }}&all_cat=select&start_day=1&start_month=1&start_year=2020&end_day={% now "d" %}&end_month={% now "m" %}&end_year={% now "Y" %}&categories={{ category.id }}">
                                            {{ category.id|get_category_name:general.cur_lang_short_name }}
                                        </a>
                                        <span class="badge badge-dark badge-pill">{{ category.entries.all | length }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </main>
{% endblock %}