@font-face { font-family: TypeWriter; src: url('TypeWriter.ttf'); }

div {
  font-family: TypeWriter;
}

body {
    background-color: #fbead6;
}

.horizontal-divider {
    height: 1px;
    border: none;
    background-color: #000000;
}

.horizontal-divider-dotted {

    border-bottom: 1px dashed #000000;

}

.underline-on-hover:hover {
    text-decoration: underline !important;
}

a:hover{
    text-decoration: none !important;
}

.no-underline-on-hover:hover {
    text-decoration: none !important;
}

.navbar {
    padding-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.top-line {
    margin-bottom: 20px;
}

.spacing-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    padding-bottom: 10px;
}

footer {
    padding-bottom: 10px;
}

.latest-posts-aside {
    margin-top: 20px;
}

.article-preview-aside{

    margin-top: 15px;
    margin-bottom: 15px;
}

.comment {
    margin-top: 20px;
}

.comment-profile-picture {
    margin-left: 15px;
}

.comment-name-at-profile-picture {
 /*   padding-left: 30px; */
}

.read-more-button {
    height: 25px;
    margin-top: 5px;
    font-weight: bold;
}

a > .read-more-button {
    padding-top: 0px;
}

.comment-section {
    margin-bottom: 15px;
}

.post-preview:hover .bold {
    text-decoration: underline !important;
}

.post-preview {
    padding-bottom: 200px;
}